<div class="top-menu">
  <div class="top-menu__left">
    <a class="top-logo" [routerLink]="['/']" routerLinkActive="active">
      The<br>Cocktail
    </a>
    <div>
      <div class="top-menu__right">
        <nav class="top-menu__items">
          <ul>
            <li class="menu-item">
              <a href="#" [routerLink]="['/']" routerLinkActive="active">
                <span>DRINKS</span>
              </a>
            </li>
          </ul>
        </nav>
        <app-logout></app-logout>
      </div>
      <div class="bg-menu"></div>
    </div>
  </div>
</div>