@font-face {
  font-family: 'SourceSansProLight';
  src: url('./SourceSansPro-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansProRegular';
  src: url('./SourceSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansProSemiBold';
  src: url('./SourceSansPro-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansProBold';
  src: url('./SourceSansPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansProBlack';
  src: url('./SourceSansPro-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
