:host {
  font-family: "SourceSansProRegular";
  font-weight: normal;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-color: #fcfcfc;
  color: #707070;
  font-size: 16px;
  position: relative;
  width: 100%;
  height: -webkit-fill-available;
  display: block;
  justify-content: center;
  flex-direction: column;
}
