<div class="side-menu">
  <a class="btn btn--medium-height btn--medium btn--font-bd btn--bottom-margin btn--elev-2"
    [ngClass]="select === 'c' ?'btn--sec-color':'btn--main-color'" (click)="submit('c')">Categories</a>
  <a class="btn btn--medium-height btn--medium btn--font-bd btn--bottom-margin btn--elev-2"
    [ngClass]="select === 'g' ?'btn--sec-color':'btn--main-color'" (click)="submit('g')">Glasses</a>
  <a class="btn btn--medium-height btn--medium btn--font-bd btn--bottom-margin btn--elev-2"
    [ngClass]="select === 'i' ?'btn--sec-color':'btn--main-color'" (click)="submit('i')">Ingredients</a>
  <a class="btn btn--medium-height btn--medium btn--font-bd btn--bottom-margin btn--elev-2"
    [ngClass]="select === 'a' ?'btn--sec-color':'btn--main-color'" (click)="submit('a')">Alcoholic</a>
</div>